<div class="grid place-items-center">
  <div class="card w-full">
    <div class="card-body">
      <!-- 店名 -->
      <h1 class="text-sm lg:text-xl font-bold"><%= @shop.name %></h1>
      <!-- 住所 -->
      <p class="mt-4 text-sm lg:text-xl">住所：<%= @shop.address %></p>
      <!-- 営業時間 -->
      <div class="flex flex-wrap mt-4 text-sm lg:text-xl">
        <p class="w-20 sm:w-24 flex-shrink-0">営業時間：</p>
        <p class="whitespace-pre-wrap"><%= raw @shop.opening_hours.gsub("\n", '<br>') %></p>
      </div>
      <!-- 公式サイト -->
      <p class="mt-4 text-sm lg:text-xl font-bold">
        公式サイト：
        <span class="text-blue-500">
          <%= link_to @shop.web_site.chomp('/'), @shop.web_site.chomp('/') %>
        </span>
      </p>
      <!-- 電話番号 -->
      <p class="mt-4 text-sm lg:text-xl">電話番号：<%= @shop.phone_number %></p>
      <!-- ギャラリー -->
      <p class="mt-4 text-sm lg:text-xl">ギャラリー</p>
      <div class="flex flex-wrap justify-center gap-2 mt-4">
        <% @shop_images.each do |shop_image| %>
          <div class="w-24 h-24 lg:w-48 lg:h-48 overflow-hidden rounded shadow-md bg-gray-200">
            <img src="https://maps.googleapis.com/maps/api/place/photo?maxheight=800&maxwidth=800&photo_reference=<%= shop_image.image %>&key=<%= ENV['API_KEY'] %>" 
                alt="Shop Image" 
                class="w-full h-full object-cover">
          </div>
        <% end %>
      </div>
      <!-- レビュー -->
      <div class="mt-10">
        <div class="card bg-base-200 shadow-xl rounded p-4 sm:p-6">
          <p class="text-sm lg:text-xl text-center font-bold">レビュー</p>
          <div id="reviews">
            <%= turbo_frame_tag 'review_modal' do %>
              <%= render @reviews %>
            <% end %>
          </div>

          <% if logged_in? %>
          <div class="flex justify-end mt-5">
            <%= link_to 'レビューを書く', 
                        new_shop_review_path(@shop), 
                        class: 'text-center w-full py-2 px-4 bg-gray-300 text-white rounded hover:bg-gray-400 focus:outline-none active:bg-gray-500', 
                        data: { turbo_frame: 'review_modal' } %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>