<header>
  <div class="navbar bg-base-200">
    <div class="flex-1">
      <div class="btn-ghost sm:text-base font-bold">
        <%= link_to t('links.cafe_book'), "#" %>
      </div>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li>
          <%= link_to t('links.login'), login_path %>
        </li>
        <li>
          <details>
            <summary>
              <%= t('links.menu') %>
            </summary>
              <ul class="absolute right-1 p-2 bg-base-200 rounded-t-none z-50 w-max">
                <li><%= link_to t('links.find_by_list'), "#", class: "mb-2" %></li>
                <li><%= link_to t('links.find_by_map'), "#", class: "mb-2" %></li>
              </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>
</header>
