<div class="container mx-auto flex flex-col items-center sm:px-4">
  <div class="text-center mt-4">
    <h1 class="text-lg font-semibold"><%= t('titles.login') %></h1>
  </div>
  <%= form_with url: login_path, class: "w-full flex flex-col items-center px-4" do |f| %>
    <div class="w-full md:w-1/2">
      <%= f.label :email, t('activerecord.attributes.user.email'), class: "label block text-left" %>
      <%= f.email_field :email, class: "input input-bordered form-control w-full mb-4" %>
    </div>

    <div class="w-full md:w-1/2">
      <%= f.label :password, t('activerecord.attributes.user.password'), class: "label block text-left" %>
      <%= f.password_field :password, class: "input input-bordered form-control w-full mb-4" %>
    </div>

    <div class="w-full md:w-1/2">
      <%= f.submit t('helpers.submit.login'), class: "btn btn-primary w-full mt-6 mb-6" %>
    </div>
  <% end %>
  <div class="text-center mb-6">
    <%= link_to t('links.register_page'), new_user_path, class: "link" %>
  </div>  
</div>
